<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StonerMessengerAWS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8814A2321D5F9C9200EFBFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8814A2491D5F9C9300EFBFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8814A2541D5F9C9300EFBFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
